<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ajuste">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <img class="Logo" src="https://i.imgur.com/yPf0y3M.jpg" alt="LogoDuoc">
  </ion-card>
  <ion-card-content>

  </ion-card-content>
  <form [formGroup]="formularioLogin">
    <ion-item>
      
    <ion-label position="floating">Nombre</ion-label>
    <ion-input formControlName ="nombre" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input  formControlName ="password" type="password" ></ion-input>
  </ion-item>
  </form>
  <ion-card-content>
    <ion-button color="warning" expand="full" shape="round" type="ngSubmit" (click)="ingresar()">Iniciar Sesión</ion-button>
    <ion-button color="warning" expand="full" [routerLink]="['/recuperar']" shape="round" type="ngSubmit">Restablecer Contraseña</ion-button>
    <ion-button color="warning" expand="full" [routerLink]="['/registrarse']" shape="round" type="ngSubmit">Registrarse</ion-button>
  </ion-card-content>
</ion-content>
