<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card-header>
      <ion-card-title>Clase registrada</ion-card-title>
    </ion-card-header>
    <ion-card>
  <ion-item>
    <ion-label>Nombre Profesor: {{datos['Nombre Profesor'] }}</ion-label>
</ion-item>
<ion-item>
  <ion-label>Hora: {{datos['Hora'] }} </ion-label>
</ion-item>
<ion-item>
  <ion-label>Sala: {{datos['sala']  }} </ion-label>
</ion-item>
<ion-item>
  <ion-label>Dia: {{ datos['Dia'] }} </ion-label>
</ion-item>
      <ion-item>
        <ion-label>Nombre Alumno: {{username}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Apellido: {{apellido}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Rut: {{rut}}</ion-label>
  </ion-item>
 
    </ion-card>


</ion-content>
